{% extends "base_generic.html" %} 
<!-- {% block title %} Título aquí para este bloque {% endblock title %} -->

{% block new_product_form %} {% endblock %}

{% block my_index %}
<main>
  {# Esto sería un comentario en mi código, el cual no queda impreso #}
  <div class="my_product_list container bg-dark text-light p-4">

    <div class="mb-4">
      <a href="{% url 'gestion:create_product' %}" class="fs-5 fw-bold text-info">Crear un nuevo producto</a>
    </div>


    <h1 class="border-top border-white">Lista de productos:</h1>
    <ul class="list-group list-unstyled">
      {%for product in products%}
      <li class="list-item p-4 my-2 border border-light rounded">
        <h4 class="fw-light">{{product.name}} | {{product.id}}</h4>
        <h5 class="fw-lighter text-info">{{product.price}}€</h5>
        <p>{{product.description}}</p>
        <a href="{% url 'gestion:show_details' product.id %}" class="my-2">Ver detalles del producto</a>
        <a href="{% url 'gestion:update_product' product.id %}" class="btn btn-sm btn-primary ms-3">Editar</a>
        <a href="{% url 'gestion:delete' product.id %}" class="btn btn-sm btn-danger ms-3">Eliminar producto</a>

      </li>
      {% endfor %}
    </ul>

    {% comment %} PAGINADOR {% endcomment %}
    <nav class="fs-4">
      {% if products.has_previous %}
      <a
        href="?page={{products.previous_page_number}}"
        class="text-light link-underline link-underline-opacity-0"
        >Prev</a
      >
      {% endif %} {% for i in products.paginator.page_range %}
      <a
        href="?page={{i}}"
        class="text-light link-underline link-underline-opacity-0"
        >{{i}}</a
      >

      {% endfor %} {% if products.has_next %}
      <a
        href="?page={{products.next_page_number}}"
        class="text-light link-underline link-underline-opacity-0"
        >Next</a
      >
      {% endif %}
    </nav>
  </div>
</main>
{% endblock %}
